<!--partial-->
<nav class="panel">
    <a id="title" href="/">Qatoqat</a>
    <div class="group">
        <button id="scheme-button" class="has-tooltip">
            <i id="scheme-icon" class="fa-solid"></i>
            <span class="tooltip bottom">Switch theme</span>
        </button>
        <a href="/">
            <button>Home</button>
        </a>
        <a href="/art">
            <button>Art</button>
        </a>
        <a href="/projects">
            <button>Projects</button>
        </a>
    </div>
</nav>
<script class="partial" src="/assets/js/nav.js"></script>
