body{
  transition-timing-function: ease-in;
  transition: background-color .25s;
}
.md-typeset h1{
    color : #5bd;
}
.md-typeset a{
    color : #79a;
}
.md-footer-meta.md-typeset a{
    color : #79a;
}
.md-grid {
  max-width: 1024px;
}

.md-content {
    transition-timing-function: ease-in;
    -webkit-animation: fade-in 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade-in 1s; /* Firefox < 16 */
        -ms-animation: fade-in 1s; /* Internet Explorer */
         -o-animation: fade-in 1s; /* Opera < 12.1 */
            animation: fade-in 1s;
}
.md-sidebar {
    transition-timing-function: ease-in;
    -webkit-animation: fade-in .75s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade-in .75s; /* Firefox < 16 */
        -ms-animation: fade-in .75s; /* Internet Explorer */
         -o-animation: fade-in .75s; /* Opera < 12.1 */
            animation: fade-in .75s;
}
.md-content img{
    transition-timing-function: ease-in;
    -webkit-animation: fade-in 1.25s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fade-in 1.25s; /* Firefox < 16 */
        -ms-animation: fade-in 1.25s; /* Internet Explorer */
         -o-animation: fade-in 1.25s; /* Opera < 12.1 */
            animation: fade-in 1.25s;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}
