<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}Qatoqat</title>
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <link rel="preload" href="/assets/webfonts/gamepixies-250116.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/assets/css/gamepixies.css"/>
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/brands.min.css"/>
    <link rel="stylesheet" href="/assets/css/solid.min.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/head.js"></script>
</head>
<body>
<noscript>{{ content }}</noscript>
<script src="/assets/js/body.js"></script>
<script src="/assets/js/partials.js"></script>
{{ scripts }}
</body>
</html>
